@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bulma/css/bulma.css";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.content {
  justify-content: center;
}

.left-content, .right-content {
  flex: 0 0 230px;
  padding: 0 10px;
}

.left-content > *, .right-content > * {
  flex: 1 1 auto;
  border: 1px solid lightgray;
}

.center-content {
  /*flex: 1 1 auto;*/
}

.board-container {
  margin-top: 10px;
  position: relative;
}

.board-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  z-index: 100;
  padding: 0 24px;
}

.board-overlay .message {
  text-align: center;
  top: calc(50% - 12px);
  position: absolute;
  width: calc(100% - 48px);
  border-radius: 4px;
  background: transparent;
  color: #ddd;
}

.housie-number-container {
  margin-top: 10px;
  justify-content: space-between;
}

.housie-number {
  width: calc(100% / 10 - 12px);
  padding-top: calc(100% / 10 - 12px);
  border-radius: 50%;
  margin: 5px;
  color: white;
  background: #3273dc;
  position: relative;
}

.housie-number.selected {
  background: #ff3860;
}

.housie-number.selected.new-pick {
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
}

.housie-number span {
  position: absolute;
  top: calc( 50% - 1.1vw);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

.header {
  padding: 5px 10px;
  font-size: 15px;
  background: #0899cc;
  color: white;
}

.prizes-container {

}

.chats-container {
  margin-top: 10px;
}

.timer {
  background: #0899cc;
  padding: 10px;
  font-family: monospace;
  color: white;
  text-align: center;
  margin: 10px 0px;
  font-size: 2vw;
}

img.is-circle {
  border-radius: 50%;
}

/* Home Page */
.home {
  padding: 36px 0;
  min-height: 100vh;
  background: #3273dc;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjMzI3M2RjIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIwLjEiIHN0cm9rZT0iI2VlZSI+PC9wYXRoPgo8L3N2Zz4=");
}

.home-banner {
  padding: 24px;
  background: #fcfcfc;
  width: 480px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 24px 36px #000;
}

.create-game-name, .create-game-interval {
  padding: 6px;
  margin-right: 5px;
}

.create-game-interval {
  width: 75px;
}

/*.button {
  padding: 8px 20px;
  color: white;
  border: 1px solid lightgray;
  background: #0899cc;
}*/

.game-list-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.game-list-item:hover {
  border: 1px solid #0899cc;
}
.game-list-item-title {
  text-transform: uppercase;
  font-weight: bold;
}

.board {
  padding: 12px;
}

.admin-panel {
  position: fixed;
  bottom: 0;
  width: 50%;
  padding: 8px 12px;
  /*background: whitesmoke;*/
  /*border: 1px solid #bbb;*/
  /*border-radius: 2px 2px 0 0;*/
}

.event-notification {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background: #edf2fa;
  margin:2px 0;
  line-height: 30px;
}

.event-notification .event-user-name {
  font-weight: bold;
  margin: 0 5px;
}

.event-notifications .row  {
  align-items: center;
}

.event-notification .event-user:not(first-child) {
  margin-left: 5px;
}
