html, body, #root {
  height: 100%;
  min-width: 900px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.content {
  justify-content: center;
}

.left-content, .right-content {
  flex: 0 0 230px;
  padding: 0 10px;
}

.left-content > *, .right-content > * {
  flex: 1 1 auto;
  border: 1px solid lightgray;
}

.center-content {
  /*flex: 1 1 auto;*/
}

.housie-number-container {
  padding: 10px;
  border: 1px solid lightgray;
  justify-content: space-between;
}

.housie-number {
  width: calc(100% / 10 - 12px);
  padding-top: calc(100% / 10 - 12px);
  border: 1px solid lightgray;
  border-radius: 50%;
  margin: 5px;
  color: white;
  background: forestgreen;
  position: relative;
}

.housie-number.selected {
  background: red;
}

.housie-number.selected.new-pick {
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.housie-number span {
  position: absolute;
  top: calc( 50% - .75vw);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

.header {
  padding: 5px 10px;
  font-size: 15px;
  background: #0899cc;
  color: white;
}

.prizes-container {

}

.chats-container {
  margin-top: 10px;
}

.timer {
  background: #0899cc;
  padding: 10px;
  font-family: monospace;
  color: white;
  text-align: center;
  margin: 10px 0px;
  font-size: 2vw;
}

/* Home Page */
.home {
  padding: 10px;
}

.create-game-name, .create-game-interval {
  padding: 6px;
  margin-right: 5px;
}

.create-game-interval {
  width: 75px;
}

.button {
  padding: 8px 20px;
  color: white;
  border: 1px solid lightgray;
  background: #0899cc;
}

.game-list-item {
  padding: 10px;
  margin: 10px 10px 0 0;
  border: 1px solid lightgray;
  cursor: pointer;
  color: black;
}

.game-list-item:hover {
  border: 1px solid #0899cc;
}
.game-list-item-title {
  text-transform: uppercase;
  font-weight: bold;
}
